body {
  background-color: rgba(17, 107, 221, 0.6);
}
body.adminBody {
  background-color: #727272;
}
div#myModal {
  margin: 12% 0% 0% 0%;
  background-color: #ffffff;
  height: 300px;
}
div#myModal-Admin {
  margin: 0% 0% 0% 0%;
}
div.modal-body,
div.modal-header,
div.modal-footer {
  box-shadow: 0px 1px -1px 33px rgba(9, 9, 9, 0.6);
  background-color: #727272;
}
div.well {
  background: #757575;
  margin: 5% 0% 0% 2%;
}
div.tab-pane {
  color: #ffffff;
}
a.btn-default {
  color: #000000;
  background-color: #2c6fd3;
  border-color: #000000;
}
a.btn-default:hover {
  color: #ffffff;
  background-color: #2c6fd3;
  border-color: #000000;
  opacity: 0.7;
}
a.close {
  color: #000000;
  opacity: 1;
}
span.input-group-addon {
  color: #ffffff;
  background-color: #2c6fd3;
}
span.glyphicon {
  color: #ffffff;
}
span.tabMenu {
  color: #000000;
}
span.glyphicon-off {
  color: #ff0000;
}
table.table-hover:hover {
  color: #000000;
}
table.table {
  background-color: rgba(17, 107, 221, 0.6);
  color: #ffffff;
}
ul.nav-tabs > li > a {
  color: #000000;
}
